* {
    margin: 0;
    padding: 0;
}

nav ul li {
    text-align: center;
    color: blue;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: crimson;
    font-size: 20px;

}




nav :hover {
    color: white;
    background-color: blue;
}

.secao1 {
    background-color: purple;
    color: white;
    padding: 100px;
}

.Texto1 {
    max-width: 300px;
    font-size: 20px;
}
#anime { width: 400px;
height: auto;
position: relative;
bottom: 300px;
}
.dale { text-align: center;
}
.secao2 { background-color: green;}