*{ margin: 0;
padding: 0;
}



nav {
    text-align: center;
    color: blue; 
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: crimson;
 
}



nav :hover {
    color: white;
    background-color: blue;
}

section { background-color: aqua; padding: 50px;}
